{% extends "base.html" %}
{% load static %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">
                Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались
              </div>
              <div class="card-body"> 
                Изменить пароль
              </div>
                <div class="card-body">
                  {% include 'posts/includes/single_post.html' %}
                    <button type="submit" class="btn btn-primary">
                      Сбросить пароль
                    </button>
                </div>
            </div>
          </div>
        </div>  
{% endblock %}